@model FootballLeague.Models.CardGoalViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Detalji utakmice</h2>

<form role="form" asp-action="Insert">

    <div class="form-group">
        <h4>Domaćin</h4>
        <table class="table">
            <tr>
                <th>
                    Ime
                </th>
                <th>
                    Gol
                </th>
                <th>
                    Minuta
                </th>
                <th>
                    Poluvrijeme
                </th>
                <th>
                    Porazi
                </th>
                <th>
                    Bodovi
                </th>
            </tr>
            @foreach (var item in Model.Players)
            {
                @if (item.ClubId == Model.Match.HomeTeamId)
                {
                <tr>
                    <td>
                        @item.Firstname @item.Lastname
                    </td>
                    <td>
                        <input type="checkbox" name="HomeTeamPlayer[]" value="@item.Id" />
                    </td>
                    <td>
                        <input type="text" name="MinuteHome[]" />
                    </td>
                    <td>
                        <input type="text" name="HalftimeHome[]" />
                    </td>
                </tr>
                }
            }
        </table>
    </div>
    <div class="form-group">
        <h4>Gost</h4>
        <table class="table">
            <tr>
                <th>
                    Ime
                </th>
                <th>
                    Gol
                </th>
                <th>
                    Minuta
                </th>
                <th>
                    Poluvrijeme
                </th>
                <th>
                    Porazi
                </th>
                <th>
                    Bodovi
                </th>
            </tr>
            @foreach (var item in Model.Players)
            {
                @if (item.ClubId == Model.Match.AwayTeamId)
                {
                    <tr>
                        <td>
                            @item.Firstname @item.Lastname
                        </td>
                        <td>
                            <input type="checkbox" name="AwayTeamPlayer[]" value="@item.Id" />
                        </td>
                        <td>
                            <input type="text" name="MinuteAway[]" />
                        </td>
                        <td>
                            <input type="text" name="HalftimeAway[]" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div>
        <label>&nbsp;</label>
        <button type="submit" class="btn btn-primary">Spremi</button>
    </div>

</form>