@model IEnumerable<FootballLeague.Models.ClubModel>
@{
    ViewData["Title"] = "Tablica";
}
<h2>@ViewData["Title"]</h2>
<div>
    <table class="table">
        <tr>
            <th>
                Klub
            </th>
            <th>
                Odigranih susreta
            </th>
            <th>
                Pobjede
            </th>
            <th>
                Neriješeno
            </th>
            <th>
                Porazi
            </th>
            <th>
                Bodovi
            </th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesPlayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Draws)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPoints)
            </td>
        </tr>
        }
    </table>
</div>