@model IEnumerable<FootballLeague.Models.MatchModel>
@{
    ViewData["Title"] = "Rezultati";
}
<h2>@ViewData["Title"]</h2>

<div class="pager">
    @if (ViewBag.HasPreviousPage)
    {
        <a class="btn btn-primary navbar-brand" href="@Url.Action("Results", "Home", new { page = ViewBag.PreviousPage })">
            &lt; Nazad
        </a>
    }

    @if (ViewBag.HasNextPage)
    {
        <a class="btn btn-primary navbar-brand" href="@Url.Action("Results", "Home", new { page = ViewBag.NextPage })">
            Naprijed &gt;
        </a>
    }
</div>
<div>
    @if (User.IsInRole("admin"))
    {
        <a class="btn btn-primary navbar-brand" href="@Url.Action("Create", "Match")">
            Dodaj
        </a>
    }
</div>
<div>
    <table class="table">
        <tr>
            <th>
                Datum
            </th>
            <th>
                Domaćin
            </th>
            <th>
                Rezultat
            </th>
            <th>
                Gost
            </th>
            <th>
                Sezona
            </th>
            <th></th>
            @if (User.IsInRole("admin"))
            {
                <th></th>
                <th></th>
            }
        </tr>
        @foreach (var match in Model)
        {
            @Html.Partial("_Match", match)
        }
    </table>

</div>
