@model IEnumerable<FootballLeague.Models.MatchModel>
@{
    ViewData["Title"] = "Rezultati";
}
<h2>@ViewData["Title"]</h2>

<div>
    <table class="table">
        <tr>
            <th>
                Datum
            </th>
            <th>
                Domaćin
            </th>
            <th>
                Rezultat
            </th>
            <th>
                Gost
            </th>
            <th>
                Sezona
            </th>
            <th></th>
        </tr>
    @foreach (var match in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => match.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => match.HomeTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => match.HomeTeamGoals) :  @Html.DisplayFor(modelItem => match.AwayTeamGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => match.AwayTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => match.Season)
            </td>
            <td>
                @using (Html.BeginForm(match.Id.ToString(), "Match"))
                {
                    <input type="submit" class="btn btn-warning" value="Uredi" />
                }
            </td>
        </tr>
    }
    </table>

</div>
